<!DOCTYPE html>
<html>
<head>
  <title>Tufts spotlight blocks</title>
  <%= stylesheet_link_tag    "tufts_spotlight_blocks/application", media: "all" %>
  <%= javascript_include_tag "tufts_spotlight_blocks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
